<div class="main">
       
      <%- include("partials/nav_home")%>
      <%- include("partials/header")%>

      <!-------------page1------------->
      <div id="page1">

           <!---------page1_left------------>
         <div id="page1_left">
            <h1>Daily News</h1>
            <h5>Discover stories, thinking, and expertise from writers on any topic.</h5>
            <a href="#"><button class="btn1">Start reading</button></a>
         </div>

          <!---------page1_right------------>
         <div id="page1_right"> 
            
         </div>

      </div>
      <!----------------page2---------------->
      <div id="page2">

      </div>

  <!-- ----- -->
  </div>
<%- include("partials/footer")%>